apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - manager.yaml

generatorOptions:
  disableNameSuffixHash: true

# The wc-img-config config map drives the WC_IMG env var, which is used by the promise
# controller as the last container in the workflow Pipeline pod spec.
configMapGenerator:
  - files:
      - controller_manager_config.yaml
    name: manager-config
  - envs:
      - wc-img-config.properties
    name: wc-img-config

images:
- name: controller
  newName: syntasso/kratix-platform
  newTag: f0adcb5eb7317b9acb5fbbb7e91fce343d9a50d5
