apiVersion: platform.kratix.io/v1alpha1
kind: BucketStateStore
metadata:
  name: default
spec:
  endpoint: rustfs.kratix-platform-system.svc.cluster.local
  insecure: true
  bucketName: kratix
  authMethod: accessKey
  secretRef:
    name: rustfs-credentials
    namespace: kratix-platform-system
