apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        env:
        - name: DEFAULT_PIPELINE_ADAPTER_IMG
          value: docker.io/syntasso/kratix-platform-pipeline-adapter:dev