# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
  - bases/platform.kratix.io_promises.yaml
  - bases/platform.kratix.io_works.yaml
  - bases/platform.kratix.io_destinations.yaml
  - bases/platform.kratix.io_workplacements.yaml
  - bases/platform.kratix.io_bucketstatestores.yaml
  - bases/platform.kratix.io_gitstatestores.yaml
  - bases/platform.kratix.io_promisereleases.yaml
- bases/platform.kratix.io_namespaceclaims.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
- patches/webhook_in_promises.yaml
#- patches/webhook_in_works.yaml
#- patches/webhook_in_destinations.yaml
#- patches/webhook_in_workplacements.yaml
#- patches/webhook_in_bucketstatestores.yaml
#- patches/webhook_in_gitstatestores.yaml
#- patches/webhook_in_promisereleases.yaml
#- patches/webhook_in_namespaceclaims.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
- patches/cainjection_in_promises.yaml
#- patches/cainjection_in_works.yaml
#- patches/cainjection_in_destinations.yaml
#- patches/cainjection_in_workplacements.yaml
#- patches/cainjection_in_bucketstatestores.yaml
#- patches/cainjection_in_gitstatestores.yaml
#- patches/cainjection_in_promisereleases.yaml
#- patches/cainjection_in_namespaceclaims.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
  - kustomizeconfig.yaml
