---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: works.platform.kratix.io
spec:
  group: platform.kratix.io
  names:
    kind: Work
    listKind: WorkList
    plural: works
    singular: work
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Work is the Schema for the works API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: WorkSpec defines the desired state of Work
            properties:
              destinationSelectors:
                description: DestinationSelectors is used for selecting the destination
                properties:
                  promise:
                    items:
                      properties:
                        matchLabels:
                          additionalProperties:
                            type: string
                          type: object
                      type: object
                    type: array
                  resource:
                    items:
                      properties:
                        matchLabels:
                          additionalProperties:
                            type: string
                          type: object
                      type: object
                    type: array
                type: object
              replicas:
                description: -1 denotes dependencies, 1 denotes Resource Request
                type: integer
              workloadGroups:
                items:
                  properties:
                    destinationSelectorsOverride:
                      properties:
                        promise:
                          items:
                            properties:
                              matchLabels:
                                additionalProperties:
                                  type: string
                                type: object
                            type: object
                          type: array
                        resource:
                          items:
                            properties:
                              matchLabels:
                                additionalProperties:
                                  type: string
                                type: object
                            type: object
                          type: array
                      type: object
                    promiseName:
                      type: string
                    resourceName:
                      type: string
                    workloads:
                      description: Workload represents the manifest workload to be
                        deployed on destination
                      items:
                        description: Workload represents the manifest workload to
                          be deployed on destination
                        properties:
                          content:
                            type: string
                          filepath:
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
            type: object
          status:
            description: WorkStatus defines the observed state of Work
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
