---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: gitstatestores.platform.kratix.io
spec:
  group: platform.kratix.io
  names:
    kind: GitStateStore
    listKind: GitStateStoreList
    plural: gitstatestores
    singular: gitstatestore
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GitStateStore is the Schema for the gitstatestores API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GitStateStoreSpec defines the desired state of GitStateStore
            properties:
              authMethod:
                default: basicAuth
                description: AuthMethod used to access the StateStore
                enum:
                - basicAuth
                - ssh
                type: string
              branch:
                default: main
                type: string
              path:
                description: |-
                  Path within the StateStore to write documents. This path should be allocated
                  to Kratix as it will create, update, and delete files within this path.
                  Path structure begins with provided path and ends with namespaced destination name:
                    <StateStore.Spec.Path>/<Destination.Spec.Path>/<Destination.Metadata.Namespace>/<Destination.Metadata.Name>/
                type: string
              secretRef:
                description: SecretRef specifies the Secret containing authentication
                  credentials
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              url:
                type: string
            type: object
          status:
            description: GitStateStoreStatus defines the observed state of GitStateStore
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
