---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: destinations.platform.kratix.io
spec:
  group: platform.kratix.io
  names:
    categories:
    - kratix
    kind: Destination
    listKind: DestinationList
    plural: destinations
    singular: destination
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Destination is the Schema for the Destinations API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DestinationSpec defines the desired state of Destination
            properties:
              filepathExpression:
                description: The directory mode to use when writing documents to the
                  destination.
                properties:
                  type:
                    default: nested
                    description: |-
                      The type of filepathExpression, either:
                      - nested: files from the pipeline will be placed in a nested directory structure
                      - flat: file from the pipeline will be placed in a flat directory structure
                    enum:
                    - nested
                    - flat
                    type: string
                required:
                - type
                type: object
              path:
                description: |-
                  Path within the StateStore to write documents. This path should be allocated
                  to Kratix as it will create, update, and delete files within this path.
                  Path structure begins with provided path and ends with namespaced destination name:
                    <StateStore.Spec.Path>/<Destination.Spec.Path>/<Destination.Metadata.Namespace>/<Destination.Metadata.Name>/
                type: string
              secretRef:
                description: SecretRef specifies the Secret containing authentication
                  credentials
                properties:
                  name:
                    description: name is unique within a namespace to reference a
                      secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret
                      name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              stateStoreRef:
                description: StateStoreReference is a reference to a StateStore
                properties:
                  kind:
                    enum:
                    - BucketStateStore
                    - GitStateStore
                    type: string
                  name:
                    type: string
                required:
                - kind
                - name
                type: object
              strictMatchLabels:
                description: |-
                  By default, Kratix will schedule works without labels to all destinations
                  (for promise dependencies) or to a random destination (for resource
                  requests). If StrictMatchLabels is true, Kratix will only schedule works
                  to this destination if it can be selected by the Promise's
                  destinationSelectors. An empty label set on the work won't be scheduled
                  to this destination, unless the destination label set is also empty
                type: boolean
            type: object
          status:
            description: DestinationStatus defines the observed state of Destination
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
