name: Test Kratix

on:
  pull_request:
    branches: [ "main" ]

jobs:
  unit-tests-and-lint:
    runs-on: ubuntu-latest
    steps: 
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
          check-latest: true
      - name: Unit Tests
        run: |
          make test
      - name: Lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.63.4
          ./bin/golangci-lint run --config=.golangci-required.yml
  system-test:
    runs-on: ubuntu-latest
    needs: [unit-tests-and-lint]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - name: Install Kind
        uses: helm/kind-action@v1
        with:
          install_only: true
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main
        with:
          version: '2.4.0'
      - name: System Tests
        run: |
          make system-test core-test
        env:
          DOCKER_BUILDKIT: 1
          ACK_GINKGO_RC: true
  integration-test:
    runs-on: ubuntu-latest
    needs: [unit-tests-and-lint] 
    steps:
      - name: Check out kratix
        uses: actions/checkout@v4
      - name: Checkout out kratix helm charts
        uses: actions/checkout@v4
        with:
          repository: syntasso/helm-charts
          path: charts
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
      - name: Install Kind
        uses: helm/kind-action@v1
        with:
          install_only: true
      - name: Install Helm
        uses: azure/setup-helm@v3
      - name: e2e-demo-test-helm-bucket
        run: |
          ./scripts/helm-e2e-test.sh
        env:
          STATE_STORE: "bucket"
      - name: e2e-demo-test-helm-git
        run: |
          ./scripts/helm-e2e-test.sh
        env:
          STATE_STORE: "git"
