name: Test Kratix

on:
  pull_request:
    branches: [ "main" ]

jobs:
  run-tests:
    #uses: syntasso/ci/.github/workflows/test-kratix.yaml@main
    uses: syntasso/ci/.github/workflows/test-kratix.yaml@1e287a548873d86780f3111bd356e1d09d70fafc
    secrets: inherit
    with:
      sha: ${{ github.event.pull_request.head.sha }}
      message: ${{ github.event.pull_request.title }}
