name: Test Kratix

on:
  push:
    paths-ignore:
    - 'docs/**'
    - '*.md'
    - 'LICENSE.txt'
    - 'PROJECT'
    - '.gitignore'
    - '.golangci-required.yml'
    - '.golangci.yml'
    - '.goreleaser.yaml'
    - '.images'

jobs:
  unit-tests-and-lint:
    runs-on: ubuntu-latest
    steps: 
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22
          check-latest: true
      - name: Unit Tests
        run: |
          make test
      - name: Lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.63.4
          ./bin/golangci-lint run --config=.golangci-required.yml
  system-test:
    runs-on: ubuntu-latest
    needs: [unit-tests-and-lint]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
      - name: Install Kind
        uses: helm/kind-action@v1
        with:
          install_only: true
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main
        with:
          version: '2.4.0'
      - name: System Tests
        run: |
          DOCKER_BUILDKIT=1 ACK_GINKGO_RC=true make system-test core-test
  integration-test:
    runs-on: ubuntu-latest
    needs: [unit-tests-and-lint] 
    steps:
      - name: Check out kratix
        uses: actions/checkout@v4
      - name: Checkout out kratix helm charts
        uses: actions/checkout@v4
        with:
          repository: syntasso/helm-charts
          path: charts
      - name: Install Go
        uses: actions/setup-go@v5
      - name: Install Kind
        uses: helm/kind-action@v1
        with:
          install_only: true
      - name: Install Helm
        uses: azure/setup-helm@v3
      - name: e2e-demo-test-helm-bucket
        run: |
          STATE_STORE="bucket" ./scripts/helm-e2e-test.sh
      - name: e2e-demo-test-helm-git
        run: |
          STATE_STORE="git" ./scripts/helm-e2e-test.sh
  on-failure:
    runs-on: ubuntu-latest
    needs:
      - unit-tests-and-lint
      - system-test
      - integration-test
    if: ${{ always() && (needs.*.result == 'failure' || needs.*.result == 'timed_out') }}
    steps:
      - name: Slack Notification
        uses: slackapi/slack-github-action@v2
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          payload: |
            text: "*GitHub Action failed!! Failed job: ${{ job.status  }} \n ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

